@page "/counter"
@using System.Text.Json
@using System.Collections.ObjectModel


<PageTitle>Counter</PageTitle>
<span>Favorites:</span>
<ul level="0">
    @{
        @if (FavoritesNodes is not null)
        {
            @foreach (var item in FavoritesNodes)
            {

                <BlazoriseTreeView.Components.FavoriteTree FavoriteItem="@item" Level=1 @key=item />
            }
        }

    }

</ul>


<span>Main nodes:</span>
<CascadingValue Value="@AllDataSource">
    <ul level="0">
        @foreach (var item in Items)
        {

            <BlazoriseTreeView.Components.TreeComponent Item=@item FavoritesParentCallback="FavoriteCallbackNode" FavoritesNodesCallBack="_FavoritesNodesCallBack" Level=1 @key=item />
        }
    </ul>
</CascadingValue>




@code {
    public List<Item> AllDataSource { get; set; }
    private int currentCount = 0;
    private List<Item> FavoritesNodes { get; set; } = new List<Item>();
    private List<Item> ResultArray { get; set; } = new List<Item>();
    private Item CheckedNode { get; set; }
    List<string> selectedNodes = new List<string>();
    IEnumerable<Item> Items;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Items = new[]
                                                                                                                {
        new Item { Text = "Item 1",  NodeId = "1" },
        new Item
        {
            Text = "Item 2",

            NodeId = "2",
            Children = new List<Item>
            {
                new Item { Text = "Item 2.1",   NodeId = "2.1",},
                new Item
                {
                    Text = "Item 2.2",

                    NodeId = "2.2",
                    Children = new List<Item>
                    {
                        new Item { Text = "Item 2.2.1",NodeId = "2.2.1", },
                        new Item { Text = "Item 2.2.2",NodeId = "2.2.2", },
                        new Item { Text = "Item 2.2.3", NodeId = "2.2.3", },
                        new Item { Text = "Item 2.2.4", NodeId = "2.2.4", },
                        new Item { Text = "Item 2.2.5", NodeId = "2.2.5", },
                        new Item { Text = "Item 2.2.6", NodeId = "2.2.6",
                                    Children = new List<Item>
                                    { new Item { Text = "Item 2.2.7",NodeId = "2.2.7", },

                                    }
                        },
                    }
                },
                new Item { Text = "Item 2.3",NodeId = "2.3" },
                new Item { Text = "Item 2.4",NodeId = "2.4" }
            }
        },
        new Item { Text = "Item 3",ParentId = null,NodeId = "3" },
    };

        AllDataSource = Items.ToList();
        Console.WriteLine("data {0}", JsonSerializer.Serialize(AllDataSource));
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    void _FavoritesNodesCallBack(List<Item> favNodes)
    {

        //FavoritesNodes = favNodes;
        StateHasChanged();
    }
    void FavoriteCallbackNode(Item node)
    {
        var result = new Item();
        var data = Items.ToList();
        var collection = new List<Item>();

        var checkedNodes = new HashSet<Item>();
        foreach (var n in Items)
        {
            var checkedNode = GetCheckedNodes(n);

            if (checkedNode != null && !checkedNodes.Contains(checkedNode))
            {
                checkedNodes.Add(checkedNode);

            }
        }
        SetParentChecked(data);

        FavoritesNodes = checkedNodes.ToList();

        StateHasChanged();

        //Console.WriteLine("collection {0}", JsonSerializer.Serialize(test));
    }

    void SetParentChecked(List<Item> nodes)
    {

        foreach (var node in nodes)
        {

            if (node.Children != null)
            {
                node.IsChecked = true;

                SetParentChecked(node.Children);
            }
        }
    }



    Item GetCheckedNodes(Item node)
    {
        Item parent = null;

        if (node.IsChecked)
        {
            parent = new Item
                {
                    NodeId = node.NodeId,
                    ParentId = node.ParentId,
                    IsChecked = node.IsChecked,
                    Text = node.Text,
                    Children = new List<Item>()
                };
        }

        if (node.Children != null)
        {
            foreach (Item child in node.Children)
            {
                Item checkedChild = GetCheckedNodes(child);
                if (checkedChild != null)
                {
                    if (parent == null)
                    {
                        parent = new Item
                            {
                                NodeId = node.NodeId,
                                ParentId = node.ParentId,
                                IsChecked = node.IsChecked,
                                Text = node.Text,
                                Children = new List<Item>()
                            };
                    }

                    parent.Children.Add(checkedChild);
                }
            }
        }

        return parent;
    }
}
